// Import page-specific CSS files here.
@import "home";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body{
  background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(221, 193, 193, 0.8)), url(wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}
.container h1, p {
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
}

#title {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.img-tag{
  height:20px;
  width: 20px;
  padding: 0px;
  margin: 0px;
}

.fa-location-dot{
  color:#3fb1ce
}

#map {
  border-radius: 15px;
  border: 0px solid black;
  margin-bottom: 30px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
}
.rounded{
  border-radius: 50%;
}

.card{
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow:hidden;
  border-radius: 15px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge  {
    background-color: #d0c9b0;
    // width: 60px;
    height: 30px;
    padding-bottom: 5px;
    border-radius: 10px;
    display: flex;
    color: #070500;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 16px;
}


.text1 {
    font-size: 20px;
    color: #a5aec0;
    font-weight: 600
}

.text2 {
    font-size: 20px;
    color:#070500;
}

.city{
  color:gray;
  font-size:15px;
  font-weight:bold;
}


.avatar-img{
  height:50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

// .image {
//   height: 50px;
//   width: 50px;
// }

.image img{
  height: 50px;
  width: 50px;
  border-radius:50%;
  border: 1px solid rgba(43, 44, 43, 0.718);
  box-shadow: 2px 2px #05060636;
}
