
.split-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.split-items {
  padding: 3px 8px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
}
