// .offers {
//   display: flex;
//   justify-content: space-between;
// }
body{
  background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(221, 193, 193, 0.8)), url(wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

.offers-container {
  display: flex;
}

.offers {
  list-style-type: none;
  padding-left: none;
  list-style-position: inside;
}

// .offers li:not(:last-child) {
//   border-bottom: 1px solid rgba(128, 128, 128, 0.377);
// }

// .offers-right {
//   overflow-y: scroll;
//   margin-left: 15px;
//   border-radius: 20px;
//   box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
//   height: 100%;
// }

// .offers-right::-webkit-scrollbar {
//   display: none;  /* Safari and Chrome */
// }

// .offers-left {
//   flex: 1;
// }

.cardshow {
  // overflow: hidden;
  height: auto;
  padding: 10px 0;
  // height: 100%;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
  // margin: 10px;
}

.card-body {
  width: 75%;
}

.card-image {
  text-align: center;
  margin-bottom: 10px;
}

.card-image img {
  height: 150px;
  width: 150px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(43, 44, 43, 0.718);
  box-shadow: 2px 2px #05060636;
}

.comments {
  padding-left: none;
}

.comment {
  display: flex;
  align-items: center;
}

.comment img {
  margin: 15px;
}

#offer-alert {
  top: 90px;
  bottom: auto;
  // width: 100%;
  opacity: 0.9;
}


.show-grid {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: 26px;
}

.grid-left {
  height: 80vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}


.show-top-left {
  border-radius: 15px;
  overflow-y: scroll;
  flex-grow: 1;
}

.show-top-left::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.show-top-right {
  border-radius: 15px;
}

.grid-right {
  height: 80vh;
  overflow-y: scroll;
  border-radius: 15px;
}

.grid-right::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
