<div class="jumbotron" id="banner">
  <h1 class="display-4 justify-content-center">DEV.WORK</h1>
  <p class="lead justify-content-center"> Find solutions to your challenges!</p>
  <p></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg text_ mt-6 rounded-lg" href="#" role="button">Learn more</a>
  </p>
</div>
