<div class="banner">
  <div class="container">
    <div class="container second">
      <h1 class="display-4 justify-content-center">DEV.WORK</h1>
      <p class="lead justify-content-center"> Find solutions to your challenges!</p>
      <p class="lead">
      <%= link_to "Learn More", challenges_path, class:"btn btn-primary btn-lg  text_ mt-6 rounded-lg" %>
    </div>
  </div>

</div>
