<div class="jumbotron banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://wallpaperaccess.com/full/1615391.jpg);background-size: cover;">  <div class="container">
    <h1 class="display-4 justify-content-center">DEV.WORK</h1>
    <p class="lead justify-content-center"> Find solutions to your challenges!</p>
    
    <%= link_to "Learn More", challenges_path, class:"btn btn-primary btn-lg  text_ mt-6 rounded-lg" %>
  </div>

</div>
