#banner{
  background: rgb(35,35,36);
  background: linear-gradient(153deg, rgba(35,35,36,1) 0%, rgba(148,92,49,1) 0%, rgba(191,109,40,1) 75%);
  color:rgb(12,81,185);
  font-weight: bolder;
  height: 400px;
  }
/*  try with this image banner{
  background-image: url(https://images.unsplash.com/photo-1539627831859-a911cf04d3cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHB1enpsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: center; */
