body{
  background-image: linear-gradient(rgba(0,50,0,0.8),rgba(0,0,0,0.8)), url(wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.banner {
  padding-top: 350px ;
}

// .container {
//   margin-bottom: 100px;
// }

.second {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  width: 50%;
  padding-bottom: 10px;
  border-radius: 15px;
}

.learn_more{
  border-radius: 15px !important;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  margin-bottom: 20px;

}

.banner p {
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-top: 10px;
  font-weight: lighter;
}




.btn-primary:hover{
  background-color: rgb(176, 179, 164);
  text-decoration: none;
}
/*  try with this image banner{
  background-image: url(https://images.unsplash.com/photo-1539627831859-a911cf04d3cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHB1enpsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: center; */
