// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "pages/my_offers";
@import "pages/home";

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}
